/*========================== Général =====================*/
body {
  margin: 0;
  padding: 0;
  min-width: 300px;
  max-width: 900px;
  margin: auto;
}
/*========================== Header =====================*/
header {
  display: flex;
  justify-content: space-between;
}
/* Header Logo */
.logo {
  display: flex;
  align-items: center;
}
.logo img {
  max-width: 150px;
}
ul {
  display: flex;
}
ul li {
  list-style: none;
  margin-right: 15px;
}

nav {
  align-self: flex-end;
}

nav ul li a {
  text-decoration: none;
}

/*========================= Hero ========================*/
#Hero {
  background-image: url("https://images.pexels.com/photos/4913537/pexels-photo-4913537.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-position: bottom;
  position: relative;
  height: 600px;
  display: flex;
}

.sail {
  position: absolute;
  width: 900px;
  height: 600px;
  background-color: black;
  opacity: 0.6;
}

#Hero p {
  font-family: "Dancing Script", cursive;
  font-size: 55px;
  color: rgb(0, 187, 255);
}

#Hero h2 {
  color: #fff;
  font-family: "Sigmar One", cursive;
  font-size: 50px;
}
.slogan {
  margin: auto;
  text-align: center;
  z-index: 1;
}

/*========================= Produits ====================*/
.oreiller, .Lit, .Chambre {
  width: 250px;
  border: 1px solid black;
  border-radius: 0 10px;
}
.oreiller img, .Lit img, .Chambre img {
  width: 100%;
  height: 150px;
  border-radius: 0 10px;
}
#Produit {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
}
.line {
  border-top: 4px solid black;
  width: 20px;
  border-radius: 50px;
  margin: auto;
}

/*========================= Contact ================*/
#contact {
  display: flex;
  justify-content: space-around;
  background-color: #f2f2f2;
  padding: 15px 0;
}
.oreiller h2, p, .Lit h2, p, .Chambre h2, p {
  padding: 0 15px;
}
.oreiller p, .Lit p, .Chambre p {
  text-align: justify;
}

/* Fomrulaire*/
.contactUs {
  /* max-width: 250px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input[type^="text"] {
  padding: 15px;
  border-radius: 5px;
  width: 250px;
}
input[type^="email"] {
  padding: 15px;
  border-radius: 5px;
  width: 250px;
  background-color: #c2c2c2;
}
input[type^="submit"] {
  padding: 10px;
  border-radius: 5px;
  background-color: blue;
  color: #fff;
}
input[type^="submit"]:hover {
  background-color: rgb(255, 217, 0);
  color: #000;
}
#email::placeholder {
  color: #fff;
}

/*========================= Footer =================*/
footer {
  display: flex;
  justify-content: space-around;
  background-color: #000000;
}
footer p {
  width: 200px;
  color: #ffffff;
  text-align: justify;
}

/*========================= Query =================*/
@media (max-width: 1048px) {
  /* produits */
  #Produit {
    display: flex;
    flex-wrap: wrap;
  }
  .oreiller,
  .Lit,
  .Chambre {
    width: 100%;
    margin: 15px auto;
  }

  #contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .map {
    order: -1;
  }

  footer {
    display: flex;
    flex-wrap: wrap;
  }

  footer p {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .oreiller img,
  .Lit img,
  .Chambre img {
    width: 300px;
    margin-left: 19%;
  }
}
